{% extends "main/base.html" %}

{% block content %}
<section id="first_page">
    <div id="background-img">
        <div id="background-cover">
            <div id="barber-name">
                <h1 class="leading-font"> BARBER </h1>
                <h1 class="leading-font"> SHOP</h1>
            </div>
            <div id="book-button-wrapper">
                <a href="barbers/" class="book-button leading-font" >BOOK NOW</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}